:host {
  position: relative;
  display: block;
  width: 100%;
  img {
    display: block;
    user-select: none;
    height: auto;
    width: 100%;
  }
  .header {
    position: absolute;
    left: 0;
    right: 0;
  }
  .add-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
