<button
  tuiButton
  appearance="flat"
  size="xs"
  type="button"
  iconStart="@tui.message-circle-plus"
  [style.color]="'var(--tui-text-tertiary)'"
  class="add-button"
  (click)="addNote()"
>
  Add note
</button>

<img
  ngSrc="{{ page.imageUrl }}"
  [alt]="page.number"
  [width]="documentType.width"
  [height]="documentType.height"
  draggable="false"
/>
@for (note of notes(); track note.id) {
  <app-document-note
    [content]="note.content"
    [id]="note.id"
    [page]="page.number"
  ></app-document-note>
}
