<header class="header">
  <hgroup tuiTitle="l">
    <h1>{{ name }}</h1>
  </hgroup>
  <aside class="aside">
    <h5 tuiTitle="m">{{ scale() }}</h5>
    @if (canScale()) {
      <div tuiGroup class="group" [collapsed]="true">
        <button
          [disabled]="!canZoomOut()"
          iconStart="@tui.minus"
          title="A sample of icon-button in a group"
          tuiIconButton
          type="button"
          size="m"
          (click)="zoomOut()"
        ></button>
        <button
          [disabled]="!canZoomIn()"
          iconStart="@tui.plus"
          title="A sample of icon-button in a group"
          tuiIconButton
          type="button"
          size="m"
          (click)="zoomIn()"
        ></button>
      </div>
    }

    <button
      appearance="accent"
      tuiButton
      type="button"
      size="m"
      (click)="save()"
    >
      Save
    </button>
  </aside>
</header>
